<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>CÓMPUTO DE HORAS</title>
  </head>
  <body>
    <header style="width: 100%;height: 180px; overflow: hidden; background: #48bb78; margin-bottom: 20px;">
      <div class="wrapper" style="width: 90%; margin: auto; overflow: hidden;">
      <div class="logo" style="color: #f2f2f2; font-size: 40px; font-family: 'Nexa'; line-height: 200px; float: left;">CÓMPUTO DE HORAS</div>
      <nav style="float: right; line-height: 190px;">
          <a href="/index" style="background-color: #007bff; border-color: black; margin: 6px;" class="btn btn-primary">Ver Registro</a>
      </nav>
      </div>
      </header>
      <body>
        <h1 style="text-align: center; font-size: 30px; line-height: 36px; font-weight: bold;">HERRAMIENTA CÓMPUTO DE HORAS</h1>
        <div style="text-align:center; margin-top: 70px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="150px" height="150px" fill="currentColor" class="bi bi-calendar-check-fill" viewBox="0 0 16 16">
            <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-5.146-5.146-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
          </svg>
          <div style="text-align:center; margin-top: 70px;">
          <a href="/create" style="background-color: #48bb78; border-color: black; margin-top: 15px;" class="btn btn-primary">Empezar</a>
          </div>  
        </div>  
      </body>
    </html>