<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/style.css" rel="stylesheet" type="text/css">
     <title>Acerca de</title>
  </head>
  <body>
    <header>
        <div class="header">
            <img class="logo" src="/logo-icon.png" />
            <div class="planbtechTexto">Plan B TECH</div>
            <div class="menus">
              <a href="/" style="text-decoration: none;">
                <div class="home">Home</div>
                </a>
              <a href="/compute" style="text-decoration: none;">
                <div class="menu1">Registro</div>
              </a>
              <a href="/create" style="text-decoration: none;">
                <div class="menu2">Realizar Imputación</div>
              </a>
                <div class="menu3">Reportar Ausencia</div>
              <a href="/about" style="text-decoration: none;">
                <div class="menu4">About</div>
              </a>
            </div>
            <div class="signin">
                <img class="usericon" src="/user.png">
                <p>Are you admin?</p>
                <form action="/login">
                <button class="signUp">Sign In</button>
              </div>
            </form>  
        </div>
    </header>
      <body class="bodyAbout body">
        <div class="bodyHome">
          <div class="columnatextoAbout">
            <h1>Facilita el registro horario con una solución WEB-APP</h1>
            <h3>es la solución que permite gestionar y llevar el control horario, ausencias y la presencia de los trabajadores</h2>
            <h5>
                La definición de las estrategias de empresa siempre debe estar basada en los datos que 
                se analizan de la misma. Por este motivo es fundamental que toda la información esté 
                disponible en un mismo lugar, optimizando los procesos de trabajo y facilitando la toma 
                de decisiones empresariales. Podrás organizar cualquier tarea 
                que requiera la coordinación de equipo, como, por ejemplo, modificaciones de turnos o 
                validación de ausencias de cada empleado.
            </h5>            
          </div>
          <div class="columnaimagenAbout">
            <img class="logoAbout" src="/logo_about.png">
        </div>
        </div>
        <div class="bannerEmail">
            <div class="cajaEmail">
                <h2 class="textoEmpower">Recomienda esta herramienta a tu empresa.</h2>
                <p>Prueba con Plan B TECH</p>
                <button class="typeEmail">Introduce tu correo electrónico...<button class="startFreetrial">Empezar</button></button>
            </div>
            <img class="imagenEmpower" src="/logo-footer-alt.png">
        </div>
        <footer>
          <div class="logoFooter">
              <img class="imagenLogo" src="/logo-footer-alt.png">
              <p>Easy computing bussiness!</p>
          </div>
          <div class="contacto">
              <h2>Support</h2>
              <img class="iconEmail" src="/envelope.png">support@example.com
              <img class="iconPhone" src="/telephone.png">910-784-8015
          </div>
    
          <div class="redeSociales">
              <h2>Follow</h2>
              <img class="facebook" src="/facebook (1).png">
              <img class="twitter" src="/twitter.png">
              <img class="instagram" src="/instagram (1).png">
              <img class="googleplus" src="/google.png">
          </div>
      </footer>
      <p class="derechosautor"> @ All rights reserved. Made by Cristian Bozal</p>
    </body>
  </html>