<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/style.css" rel="stylesheet" type="text/css">
  <title>Privilege Mode</title>
</head>
<body>
  <header>
      <div class="header">
          <img class="logo" src="/logo-icon_admin.png" />
          <div class="planbtechTexto">Plan B TECH</div>
          <div class="menus">
              <div class="menu1">Home</div>
            <a href="/fullview" style="text-decoration: none;">
              <div class="menu2">Administrador</div>
            </a>
            <a href="/fullviewrrhh" style="text-decoration: none;">
              <div class="menu3">Recursos Humanos</div>
            </a>
            <a href="/about" style="text-decoration: none;">
              <div class="menu4">About</div>
            </a>
          </div>
          <div class="signinAdmin">
              <img class="usericon" src="/user_admin.png">
              <p>Privilege Mode</p>
              <form action="/">
              <button class="signAdmin">Logout</button>
            </div>
          </form>  
      </div>
  </header>
      <body>
        <div class="adminPlans">
          <div class="adminMode">
            <img class="adminmode" src="/admin_mode2.png">
              <h2>¿Eres Administrador?</h2>
              <p>
              El administrador garantiza que una organización funcione de manera eficiente. 
              Dentro de qué es lo que hace un administrador encontramos funciones específicas, que consiste en la visualización del registro de sus empleados.
              Los administradores deben ser altamente organizados y tener buenas habilidades de comunicación.</p>
              <a href="/fullview" style="text-decoration: none;">
                <button class="buttonAdmin">Empezar</button>
              </a>
          </div>
          <div class="rrhhMode">
            <img class="rrhhmode" src="/rrhh_mode2.png">
            <p>
              <h2>¿Eres de Recursos Humanos?</h2>
              <p>
              Además, el administrador debe usar de forma eficiente y adecuada todos los recursos humanos, técnicos, 
              financieros, cognoscitivos y materiales disponibles en una organización; para obtener los mayores beneficios.
              está compuesta por áreas tales como reclutamiento y selección.</p>
              <a href="/fullviewrrhh" style="text-decoration: none;">
                <button class="buttonAdmin">Empezar</button>
                </a>
          </div>
        </div>
      <footer>
        <div class="logoFooter">
            <img class="imagenLogo" src="/logo-footer-alt.png">
            <p>Easy computing bussiness!</p>
        </div>
        <div class="contacto">
            <h2>Support</h2>
            <img class="iconEmail" src="/envelope.png">support@example.com
            <img class="iconPhone" src="/telephone.png">910-784-8015
        </div>
  
        <div class="redeSociales">
            <h2>Follow</h2>
            <img class="facebook" src="/facebook (1).png">
            <img class="twitter" src="/twitter.png">
            <img class="instagram" src="/instagram (1).png">
            <img class="googleplus" src="/google.png">
        </div>
    </footer>
    <p class="derechosautor"> @ All rights reserved. Made by Cristian Bozal</p>
  </body>
</html>