<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/style.css" rel="stylesheet" type="text/css">
     <title>Plan B TECH</title>
  </head>
  <body>
    <header>
        <div class="header">
            <img class="logo" src="/logo-icon.png" />
            <div class="planbtechTexto">Plan B TECH</div>
            <div class="menus">
                <div class="home">Home</div>
              <a href="/compute" style="text-decoration: none;">
                <div class="menu1">Registro</div>
              </a>
              <a href="/create" style="text-decoration: none;">
                <div class="menu2">Realizar Imputación</div>
              </a>
                <div class="menu3">Reportar Ausencia</div>
              <a href="/about" style="text-decoration: none;">
                <div class="menu4">About</div>
              </a>
            </div>
            <div class="signin">
                <img class="usericon" src="/user.png">
                <p>Are you admin?</p>
                <form action="/login">
                <button class="signUp">Sign In</button>
              </div>
            </form>  
        </div>
    </header>
      <body class="bodyIndex body">
        <div class="bodyHome">
          <div class="columnaTexto">
            <h1>No te compliques más</h1>
            <p>
              La obligación a cumplir por aquellas empresas que tengan personal contratado, independientemente de la jornada realizada por dicho personal y 
              del contrato por el cual se vinculen las partes. 
              Dada la actividad realizada por la Inspección de Trabajo tanto dentro del desarrollo del Plan de Control del 2016 como en aquellas acciones 
              realizadas de forma rutinaria o a instancia de los propios trabajadores, es de gran importancia.
              Dichas empresas, a tenor de lo establecido en el Real Decreto Ley 16/2013 de 20 de diciembre, 
              en la que se establece la obligación de llevar el cómputo de las horas de sus trabajadores a tiempo parcial y el registro diario de la jornada.
              Esta exigencia que solo lo era en relación con los contratos a tiempo parcial, quedando fuera de la misma los contratos a tiempo completo, 
              a tenor de los criterios seguidos por las acciones de la Inspección de Trabajo es aplicable a todos los contratos, 
              independientemente de la jornada de los mismos, basándose en la interpretación dada por la misma al artículo 35.5 del Estatuto de los Trabajadores, 
              ya que solo con la llevanza de un registro de las horas trabajadas por cada trabajador, podrá delimitarse cuáles son horas ordinarias y 
              cuáles tienen la consideración de horas extraordinarias.
            </p>
            <a href="/create" style="text-decoration: none;">
              <button class="buttonHome">Crear Imputación</button>
            </a>
            <a href="/compute" style="text-decoration: none;">
                <button class="buttonHome">Visualizar Registro</button>
            </a>
          </div>
          <div class="columnaImagen">
            <img class="logoIndex" src="/LOGO_planb.png">
          </div>
        </div>
        <footer>
          <div class="logoFooter">
              <img class="imagenLogo" src="/logo-footer-alt.png">
              <p>Easy computing bussiness!</p>
          </div>
          <div class="contacto">
              <h2>Support</h2>
              <img class="iconEmail" src="/envelope.png">support@example.com
              <img class="iconPhone" src="/telephone.png">910-784-8015
          </div>
    
          <div class="redeSociales">
              <h2>Follow</h2>
              <img class="facebook" src="/facebook (1).png">
              <img class="twitter" src="/twitter.png">
              <img class="instagram" src="/instagram (1).png">
              <img class="googleplus" src="/google.png">
          </div>
      </footer>
      <p class="derechosautor"> @ All rights reserved. Made by Cristian Bozal</p>
    </body>
  </html>