<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/style.css" rel="stylesheet" type="text/css">
  <title>Iniciar Sesión</title>
</head>
<body>
  <header>
      <div class="header">
          <img class="logo" src="/logo-icon.png" />
          <div class="planbtechTexto">Plan B TECH</div>
          <div class="menus">
            <a href="/adminmode" style="text-decoration: none;">
              <div class="home">Home</div>
            </a>
            <a href="/compute" style="text-decoration: none;">
              <div class="menu1">Registro</div>
            </a>
            <a href="/create" style="text-decoration: none;">
              <div class="menu2">Realizar Imputación</div>
            </a>
              <div class="menu3">Reportar Ausencia</div>
            <a href="/about" style="text-decoration: none;">
              <div class="menu4">About</div>
            </a>
          </div>
          <div class="signin">
              <img class="usericon" src="/home.png">
              <p>Página de Inicio</p>
              <form action="/">
              <button class="signUp">Volver</button>
            </div>
          </form>  
      </div>
  </header>
<body>
        <div class="form">
            <div class="loginForm">
                <img class="" src="/logo-icon.png" />
            <h2>User Login</h2>
            <form action="/" method="POST">
                <input type="email" name="username" class="input-field campos" placeholder="Username" />
                <input type="password" name="password" class="input-field campos" placeholder="Password" />
                <label for="rol" class="form-label">ROL</label>
                <select type="rol" name="rol" class="form-control campos"> 
                  <option value="Admin">Admin</option>
                  <option value="RRHH">RRHH</option>
                <input type="submit" class="btn buttonAdmin" value="LOGIN">
            </form>
        </div>
    </div>
    </section>
    <footer>
        <div class="logoFooter">
            <img class="imagenLogo" src="/logo-footer-alt.png">
            <p>Easy computing bussiness!</p>
        </div>
        <div class="contacto">
            <h2>Support</h2>
            <img class="iconEmail" src="/envelope.png">support@example.com
            <img class="iconPhone" src="/telephone.png">910-784-8015
        </div>
  
        <div class="redeSociales">
            <h2>Follow</h2>
            <img class="facebook" src="/facebook (1).png">
            <img class="twitter" src="/twitter.png">
            <img class="instagram" src="/instagram (1).png">
            <img class="googleplus" src="/google.png">
        </div>
    </footer>
    <p class="derechosautor"> @ All rights reserved. Made by Cristian Bozal</p>
  </body>
</html>
</body>
</html>